<header>
    <nav class="bg-blue-600 text-white p-4 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">Hamara Airbnb</a>
        <div class="text-left">
            <a href="/host/add-home" class="inline-block bg-red-600 text-white p-4 rounded-lg shadow-lg hover:bg-red-700 transition-colors text-xl font-semibold transform hover:scale-105">
                Add Your Home
            </a>
            <a href="/" class="inline-block bg-blue-500 text-white p-4 rounded-lg shadow-lg hover:bg-blue-700 transition-colors text-xl font-semibold transform hover:scale-105">
                Home
            </a>
        </div>
    </nav>
</header>